.pensee-du-jour-admin-panel-1 h3{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.pensee-du-jour-admin-panel-1 ul{
    margin-top: 5px;
}

.pensee-du-jour-admin-panel-1 .shortcode{
    font-weight: bold;
}